{{extend 'layout.html'}}
<body style="background-color:#87CEEB;">
<br></br>
<form class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-12 col-md-12">
            <table class="table table-bordered" style="background-color:#FFFFFF">
                <thead>
                    <tr>
                        <th>
                            <h4><center><img SRC="/SEF/static/images/logo.jpg" WIDTH=178 HEIGHT=180></img></center></h4>
                            <h1 class="text-left"><center>¡BIENVENIDO A SEF!</center></h1>
                            <br>
                            <b><h3><center>¿Qué es SEF?</center></h3></b>
                            <br>
                            <div class="col-xs-1 col-md-1"></div>
                            <div class="col-xs-10 col-md-10">
                                <table class="table table-bordered" style="background-color:#e0e0e0" >
                                    <thead>
                                        <tr>
                                            <th>
                                                <center>
                                                    <div class="col-xs-12 col-md-12">
                                                        <h4>
                                                            <center>
                                                                Es una herramienta que facilita el pago de las cuotas de los alumnos en una institución educativa por medio de su sistema de pagos online, el cual ofrece distintos medios de pagos (tarjera de crédito/débito, rapipago, pago fácil, entre otros).

                                                            </center>
                                                        </h4>
                                                    </div>
                                                </center>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                                <br></br><br></br>
                            </div>
                            <div class="col-xs-1 col-md-1"></div>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</form>

<br>
