{{extend 'layout_admin.html'}}
<body style="background-color:#87CEEB;">
<br></br>
<form class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-12 col-md-12">
            <table class="table table-bordered" style="background-color:#FFFFFF">
                <thead>
                    <tr>
                        <th>
                            <h4><center><img SRC="/SEF/static/images/logo.jpg" WIDTH=178 HEIGHT=180></img></center></h4>
                            <h1 class="text-left"><center>ADMINISTRADOR</center></h1>
                            <br>
                                <b><h3><center>¿Que puedo hacer como Administrador?</center></h3></b>
                            <br>
                            <div class="col-xs-1 col-md-1"></div>
                            <div class="col-xs-10 col-md-10">
                                <table class="table table-bordered" style="background-color:#e0e0e0" >
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="col-xs-12 col-md-12 text-center">
                                                    <h4>
                                                        <center>
                                                            Como Administrador puedes realizar las siguientas tareas:
                                                            <br></br>
                                                            <center>
                                                                <li>ALTA y BAJA de los cursos del nivel primario y secundario.</li>
                                                                <li>Puede AGREGAR DIVISIONES a los cursos</li>
                                                                <li>Puede asignar el importe de la cuota mensual, mantenimiento e inscripción.</li>
                                                                <li>Vincular todas las cuotas a cada alumno inscripto.</li>
                                                                <li>Realizar distintos reportes.</li>
                                                            </center>
                                                        </center>
                                                    </h4>
                                                </div>
                                                <br>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                                <br></br><br></br>
                            </div>
                            <div class="col-xs-1 col-md-1"></div>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</form>

<br>
