{{extend 'layout.html'}}
<body style="background-color:#87CEEB;">
<br></br>
<form class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-12 col-md-12">
            <table class="table table-bordered" style="background-color:#FFFFFF">
                <thead>
                    <tr>
                        <th>
                            <h4><center><img SRC="http://www.hersis.cl/servicios/servicio_tecnico.png" WIDTH=178 HEIGHT=180></img></center></h4>
                            <h1 class="text-left"><center>FORMULARIO DE INSCRIPCIÓN</center></h1>
                            <br>
                            <b><h3><center>DATOS DEL ALUMNO/A</center></h3></b>
                            <br>
                            <div class="col-xs-1 col-md-1"></div>
                            <div class="col-xs-10 col-md-10">
                                <table class="table table-bordered" style="background-color:#e0e0e0" >
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="col-xs-10 text-center">{{=formulario}}</div>
                                                <br>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                                <br></br><br></br>
                            </div>
                            <div class="col-xs-1 col-md-1"></div>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</form>

<br>

{{"""
db.Postulantes.apellido.requires=IS_UPPER()
db.Postulantes.dni.requires=[IS_NOT_IN_DB(db, db.Postulantes.dni,error_message='EL CAMPO DNI FALTA INGRESAR O YA HA SIDO CARGADO EN EL SISTEMA'), IS_LENGTH(8)]
db.Postulantes.apellido.requires=IS_NOT_EMPTY(error_message='INFORMACION NECESARIA PARA CONTINUAR LA CARGA')
db.Postulantes.nombres.requires=IS_NOT_EMPTY(error_message='INFORMACION NECESARIA PARA CONTINUAR LA CARGA')
db.Postulantes.sexo.requires=IS_IN_SET(['F','M'])
db.Postulantes.localidad.requires=IS_IN_SET(['González Catán','Virrey del Pino','Pontevedra','Gregorio de Laferrere','Isidro Casanova','Rafael Castillo','San Justo','Ciudad Evita','Morón','Merlo','Ramos Mejia','Otro'])
db.Postulantes.ocupado.requires=IS_IN_SET(['SÍ','NO'], error_message='ESTE CAMPO NO PUEDE ESTAR VACIO')
db.Postulantes.categoria.requires=IS_IN_DB(db,db.Categorias.id,'%(tipo_de_empleo)s',error_message='ESTE CAMPO DEBE COMPLETARSE')
"""}}
