{{extend 'layout.html'}}
<body style="background-color:#87CEEB;">
<h2 class="text-left">FORMULARIO DE INSCRIPCION</h2>
<br></br>

    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-12 text-left">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                    <div class="col-xs-2"><h4>DNI:</h4></div>
                                    <div class="col-xs-10">
                                        <input NAME="dni"><h4></h4></input>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                hola
                            </th>
                        </tr>
                    </thead>
                    <div class="row">
                        <div class="col-xs-2"><h4>DNI:</h4></div>
                        <div class="col-xs-10">
                            <input NAME="dni"><h4></h4></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2"><h4>Nombre:</h4></div>
                        <div class="col-xs-10">
                            <input NAME="nombre"><h4></h4></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2"><h4>Apellido:</h4></div>
                        <div class="col-xs-10">
                            <input NAME="apellido"><h4></h4></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2"><h4>Sexo:</h4></div>
                        <div class="col-xs-10">
                            <input NAME="sexo"><h4></h4></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2"><h4>Fecha de Nacimiento:</h4></div>
                        <div class="col-xs-10">
                            <input NAME="Fec_nacimiento"><h4></h4></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2"><h4>Nacionalidad:</h4></div>
                        <div class="col-xs-10">
                            <input NAME="nacionalidad"><h4></h4></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2"><h4>Domicilio:</h4></div>
                        <div class="col-xs-10">
                            <input NAME="domicilio"><h4></h4></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2"><h4>Código Postal:</h4></div>
                        <div class="col-xs-10">
                            <input NAME="cod_postal"><h4></h4></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2"><h4>Curso:</h4></div>
                        <div class="col-xs-10">
                            <input NAME="curso"><h4></h4></input>
                        </div>
                    </div>



</BR>

</BR>

<div class="row">
    <div class="col-md-4">
        Apellido:
    </div>
    <div class="col-md-8">
        <INPUT NAME="apellido"/>
    </div>
</div>

</BR>

<div class="row">
    <div class="col-md-4">
    <p>Sexo:
    <input type="radio" name="hm" value="h"> Hombre
    <input type="radio" name="hm" value="m"> Mujer
    </p>
    </div>
</div>

</BR>

<div class="row">
    <div class="col-md-4">
        Fecha de nacimiento:
    </div>
    <div class="col-md-8">
        <INPUT NAME="fec_nac"/>
    </div>
</div>

</BR>

<div class="row">
    <div class="col-md-4">
        Nacionalidad:
    </div>
    <div class="col-md-8">
        <INPUT NAME="nacionalidad"/>
    </div>
</div>

</BR>

<div class="row">
    <div class="col-md-4">
        Domicilio:
    </div>
    <div class="col-md-8">
        <INPUT NAME="domicilio"/>
    </div>
</div>

</BR>

<div class="row">
    <div class="col-md-4">
        Código Postal:
    </div>
    <div class="col-md-8">
        <INPUT NAME="cp"/>
    </div>
</div>

</BR>

<div class="row">
    <div class="col-md-4">
        Curso:
    </div>
    <div class="col-md-8">
        <INPUT NAME="curso"/>
    </div>
</div>
</BR>

<CENTER><button type="button" class="btn btn-primary">CONFIRMAR DATOS</button></CENTER>

<BR>
<table class="table table-striped"> 
    <thead> 
        <tr> 
            <th>#</th> 
            <th>First Name</th> 
            <th>Last Name</th> 
            <th>Username</th> 
        </tr> 
    </thead> 
    <tbody> 
        <tr> 
            <th scope="row">1</th> 
            <td>Leandro</td> 
            <td>Garrido</td> 
            <td>@lg</td> 
        </tr> 
        <tr> 
            <th scope="row">2</th> 
            <td>Oscar</td> 
            <td>Lobo</td> 
            <td>@oscar</td> 
        </tr> 
        <tr> 
            <th scope="row">3</th> 
            <td>Mariano</td> 
            <td>Reingart</td> 
            <td>@mr</td> 
        </tr> 
    </tbody> 
</table>
