{{extend 'layout.html'}}
<body style="background-color:#87CEEB;">
<br></br>
<form class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-12 text-center">
            <table class="table table-bordered" style="background-color:#FFFFFF">
                <thead>
                    <tr>
                        <th>
                            <h4><center><img SRC="http://www.hersis.cl/servicios/servicio_tecnico.png" WIDTH=178 HEIGHT=180></img></center></h4>
                            <h1 class="text-left"><center>FORMULARIO DE INSCRIPCIÓN</center></h1>
                            <br>
                            <b><h3><center>DATOS DEL ALUMNO/A</center></h3></b>

                           <center>
                               <table WIDTH=800 HEIGHT=200 style="background-color:#e0e0e0" >
                                   <thead>
                                       <tr>
                                          <th>
                                            <div class="row">
                                              <div class="col-xs-6 col-md-4">DNI</div>
                                            </div>
                                            <div class="row">
                                              <div class="col-xs-6 col-md-4"><input NAME="dni"><h4></h4></input></div>
                                            </div>
                                            <div class="row">
                                              <div class="col-xs-6 col-md-4">Apellido/s</div>
                                              <div class="col-xs-6 col-md-4">Nombre/s</div>
                                            </div>
                                            <div class="row">
                                              <div class="col-xs-6 col-md-4">
                                                  <input NAME="apellido"><h4></h4></input>
                                              </div>
                                              <div class="col-xs-6 col-md-4">
                                                  <input NAME="nombre"><h4></h4></input>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-xs-6 col-md-4">Sexo</div>
                                              <div class="col-xs-6 col-md-4">Fecha de Nacimiento</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 col-md-4">
                                                    <select>
                                                      <option></option>
                                                      <option value="hombre">Hombre</option>
                                                      <option value="mujer">Mujer</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-6 col-md-4">
                                                    <input type="date" NAME="fecha_nac"><h4></h4></input>
                                                </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-xs-6 col-md-4">Nacionalidad</div>
                                              <div class="col-xs-6 col-md-4">Domicilio</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 col-md-4">
                                                  <input NAME="nacionalidad"><h4></h4></input>
                                                </div>
                                                <div class="col-xs-6 col-md-4">
                                                  <input NAME="domicilio"><h4></h4></input>
                                                </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-xs-6 col-md-4">Codigo Postal</div>
                                              <div class="col-xs-6 col-md-4">Curso y División</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 col-md-4">
                                                  <input NAME="nacionalidad"><h4></h4></input>
                                                </div>
                                                <div class="col-xs-6 col-md-4">
                                                    <select>
                                                      <option></option>
                                                      <option value="1atm">1°A - T.M</option>
                                                      <option value="1btm">1°B - T.M</option>
                                                      <option value="1att">1°A - T.T</option>
                                                      <option value="1btt">1°B - T.T</option>
                                                    </select>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </center>
<br>
                            <center><button type="button" class="btn btn-primary">CONFIRMAR DATOS</button></center>
<br>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</form>

<br>
