{{extend 'layout.html'}}
<body style="background-color:#87CEEB;">
<br></br>

<form class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-12 text-center">
            <table class="table table-bordered" style="background-color:#FFFFFF">
                <thead>
                    <tr>
                        <th>
                            <h4><center><img SRC="http://www.hersis.cl/servicios/servicio_tecnico.png" WIDTH=178 HEIGHT=180></img></center></h4>
                            <h1 class="text-left"><center>MODIFICAR DATOS DEL ALUMNO/A</center></h1>
                            <br>



                           <center>
                               <table WIDTH=800 HEIGHT=200 style="background-color:#e0e0e0" >
                                   <thead>
                                       <tr>
                                          <th>
                                            <div class="row">
                                                <br>
                                                <h2><center>Ingrese el DNI del alumno que desea MODIFICAR</center></h2>
                                                <br>
                                              <div class="col-xs-10">
                                                  <center><INPUT NAME="dni"/> <button type="button" class="btn btn-default">Iniciar Búsqueda</center></button>
                                              </div>
                                            </div>    
<br>

                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </center>
<br>
<br>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</form>
