{{extend 'layout_admin.html'}}
<body style="background-color:#87CEEB;">
<br></br>
<form class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-12 col-md-12">
            <table class="table table-bordered" style="background-color:#FFFFFF">
                <thead>
                    <tr>
                        <th>
                            <h4><center><img SRC="/SEF/static/images/logo.jpg" WIDTH=178 HEIGHT=180></img></center></h4>
                            <h1 class="text-left"><center>BAJAS CURSO</center></h1>
                            <br>
                            <b><h3><center>INGRESE EL NIVEL Y TURNO DEL CURSO</center></h3></b>
                            <br>
                            <div class="col-xs-1 col-md-1"></div>
                            <div class="col-xs-10 col-md-10">
                                <table class="table table-bordered" style="background-color:#e0e0e0" >
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="col-xs-10 text-center">{{=formulario}}</div>
                                                <br>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                                <br></br><br></br>
                            </div>
                            <div class="col-xs-1 col-md-1"></div>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</form>
<br>
