{{extend 'layout.html'}}
<h1>VISTA PREVIA: BOLETA DE PAGO</h1>
<body style="background-color:#87CEEB;">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-12 text-center">
                <table class="table table-bordered" style="background-color:#FFFFFF">
                    <thead>
                        <tr>
                            <th>
                                <h4><center><img SRC="/SEF/static/images/logo.jpg" WIDTH=178 HEIGHT=180></img></center></h4>
                        <center><h2>Instituto Educativo</h2></center>
                            </th>
                            <th>
                                <center>
                                    <h1>Boleta de Pago</h1>
                                    <h4>Fecha: {{=request.now.day}}/{{=request.now.month}}/{{=request.now.year}}</h4>
                                </center>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
            </div>
        </div>


        <div class="form-group">
            <div class="col-xs-12">
                <table class="table table-bordered" style="background-color:#FFFFFF">
                    <thead>
                        <tr class="success">
                            <th><h4><b>MATRICULA</b></h4></th>
                            <th><h4><b>ALUMNO</b></h4></th>
                            <th><h4><b>CURSO</b></h4></th>
                            <th><h4><b>CONCEPTO</b></h4></th>
                            <th><h4><b>IMPORTE</b></h4></th>
                        </tr>
                            {{for x, y, z in zip(dni_seleccionado, curso_seleccionado, cuotas_seleccionado):}}
                        <TR>
                            <TD class="text-right"><BR>{{=x.dni}}</CENTER><BR></TD>
                            <TD class="text-right"><BR>{{=x.apellido.capitalize()}} {{=x.nombre.capitalize()}}</CENTER><BR></TD>
                            <TD class="text-right"><BR>{{=y.curso}} {{=y.division}} - Turno {{=y.turno}} - {{=y.nivel}}</CENTER><BR></TD>
                            <TD class="text-right"><BR>Cuota {{=mes}} {{=z.cuota.ciclo}} </CENTER><BR></TD>
                            <TD class="text-right"><BR>${{=importe}}<BR></TD>
                        </TR>

                        <TR>
                            <TD class="text-right"><BR>{{=x.dni}}</CENTER><BR></TD>
                            <TD class="text-right"><BR>{{=x.apellido.capitalize()}} {{=x.nombre.capitalize()}}</CENTER><BR></TD>
                            <TD class="text-right"><BR>{{=y.curso}} {{=y.division}} - Turno {{=y.turno}} - {{=y.nivel}}</CENTER><BR></TD>
                            <TD class="text-right"><BR>Cuota Mantenimiento {{=z.cuota.ciclo}} </CENTER><BR></TD>
                            <TD class="text-right"><BR>${{=mantenimiento}}<BR></TD>
                        </TR>
                            {{pass}}
                    </thead>
                </table>
            </div>
        </div>


        <div class="form-group">
            <div class="col-xs-5 col-md-offset-7">
                <table class="table table-bordered" style="background-color:#FFFFFF">
                    <thead>
                        <tr class="success">
                            <th><h4><B>TOTAL</B></h4></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class=" text-right "><h4>${{=total_importe}}</h4></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
    <div class="col-xs-12 col-md-12">
        <center><a class="btn btn-primary" href="{{=URL(r=request ,c='mercadopago', f='index', args=[descripcion, total_importe])}}" role="button">Pagar</a></center>
    </div>
</body>
<br></br>
<br></br>
