{{extend 'layout.html'}}
<h1>VISTA PREVIA: BOLETA DE PAGO</h1>
<body style="background-color:#87CEEB;">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-12 text-center">
                <table class="table table-bordered" style="background-color:#FFFFFF">
                    <thead>
                        <tr>
                            <th>
                                <h2><img SRC="http://www.hersis.cl/servicios/servicio_tecnico.png" WIDTH=178 HEIGHT=180></img> Instituto Educativo</h2>
                            </th>
                            <th>
                                <center>
                                    <h1>Boleta de Pago</h1>
                                    <h4>N° xxxxx</h4>
                                    <h4>Fecha: xx/xx/xxxx</h4>
                                    <h4>CUIT 30-65782398-9</h4>
                                    <h4>Ing.Brutos Exento</h4>
                                </center>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                <table class="table table-bordered" style="background-color:#FFFFFF">
                    <thead>
                        <th>
                            <div class="col-xs-4 text-left"><h4>1° Vencimiento:</h4></div>
                            <div class="col-xs-4 text-left"><h4>10/xx/xxx</h4></div>
                            <div class="col-xs-4 text-left"><h4>$4000,00</h4></div>
                        </th>
                        <th>
                            <div class="col-xs-4 text-left"><h4>2° Vencimiento:</h4></div>
                            <div class="col-xs-4 text-left"><h4>27/xx/xxx</h4></div>
                            <div class="col-xs-4 text-left"><h4>$4100,00</h4></div>
                        </th>
                    </thead>
                </table>
            </div>
        </div>


        <div class="form-group">
            <div class="col-xs-12">
                <table class="table table-bordered" style="background-color:#FFFFFF">
                    <thead>
                        <tr class="success">
                            <th><h4><b>MATRICULA</b></h4></th>
                            <th><h4><b>ALUMNO</b></h4></th>
                            <th><h4><b>CURSO</b></h4></th>
                            <th><h4><b>CONCEPTO</b></h4></th>
                            <th><h4><b>IMPORTE</b></h4></th>
                        </tr>
                        <tr>
                            <th><h5>12345678</h5></th>
                            <th><h5>GARRIDO LEANDRO EMANUEL</h5></th>
                            <th><h5>5°Año Sociales</h5></th>
                            <th><h5>Cuota Junio 2018</h5></th>
                            <th class=" text-right "><h5>2900,00</h5></th>
                        </tr>
                        <tr>
                            <th><h5>12345678</h5></th>
                            <th><h5>GARRIDO LEANDRO EMANUEL</h5></th>
                            <th><h5>5°Año Sociales</h5></th>
                            <th><h5>Cuota 1° Manteniiento Junio 2018</h5></th>
                            <th class=" text-right "><h5>1400,00</h5></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>


        <div class="form-group">
            <div class="col-xs-5 col-md-offset-7">
                <table class="table table-bordered" style="background-color:#FFFFFF">
                    <thead>
                        <tr class="success">
                            <th><h4><B>TOTAL</B></h4></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class=" text-right "><h4>$4500,00</h4></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</body>

<a href="vista_previa_factura"><input type="submit" name="boton_pagar" class="btn btn-default" value="PAGAR"></input></a>
