{{extend 'layout.html'}}
<h1>VISTA PREVIA: Boleta de Pago</h1>
<form class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-6">
        <h2><IMG SRC="http://www.hersis.cl/servicios/servicio_tecnico.png" WIDTH=178 HEIGHT=180 /> C.V Technical Service</h2>
        </div>
        <div class="col-xs-6 text-right">
            <h1>Boleta de Pago</h1>
            <h1><small>N° xxxxx</small></h1>
            <h1><small>Fecha:xx/xx/xxxx</small></h1>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-5">
            <div class="panel panel-default">
            <div class="panel-heading">
                <h4><a href="#">Instituto Educativo</a></h4></div>
            <div class="panel-body">DOMICILIO: Calle 1234</div>
            <div class="panel-body">LOCALIDAD: González Catán</div>
            <div class="panel-body">CUIT: 30-29957653-5</div>
            <div class="panel-body">Inicio Actividades: 03/04/1993</div>
            </div>
            </div>
            </div>
        </div>
    </div>
<div class="form-group">
<div class="row">
<div class="col-xs-12">
    <h4><small>1° Vencimiento: 10/xx/xxx $4000,00</small></h4>
    <h4><small>2° Vencimiento: 27/xx/xxx $4100,00</small></h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th><h4>Matricula</h4></th>
            <th><h4>Alumno</h4></th>
            <th><h4>Curso</h4></th>
            <th><h4>Concepto</h4></th>
            <th><h4>Importe</h4></th>
        </tr>
        <tr>
            <th>12345678</th>
            <th>GARRIDO LEANDRO EMANUEL</th>
            <th>5°Año Sociales</th>
            <th>Cuota Junio 2018</th>
            <th>2900,00</th>
        </tr>
        <tr>
            <th>12345678</th>
            <th>GARRIDO LEANDRO EMANUEL</th>
            <th>5°Año Sociales</th>
            <th>Cuota 1° Manteniiento Junio 2018</th>
            <th>1400,00</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td></td>
            <td></td>
            <td class=" text-center "></td>
            <td class=" text-right ">$</td>
            <td class=" text-right ">$</td>

        </tr>
    </tbody>
</table>
</div>
</div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-xs-5">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><h5><B>TOTAL</B></h5></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class=" text-right "><B>$1</B></td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
</div>
</form>
